[submodule "modules/godot_math_extension"]
	path = modules/godot_math_extension
	url = https://github.com/SaracenOne/godot_math_extension.git
[submodule "modules/leg_ik"]
	path = modules/leg_ik
	url = https://github.com/SaracenOne/leg_ik.git
[submodule "modules/tga"]
	path = modules/tga
	url = https://github.com/SaracenOne/tga
[submodule "modules/precipitation"]
	path = modules/precipitation
	url = https://github.com/SaracenOne/precipitation
[submodule "modules/bmp"]
	path = modules/bmp
	url = https://github.com/SaracenOne/bmp
[submodule "modules/blitter"]
	path = modules/blitter
	url = https://github.com/SaracenOne/blitter
